body {
    margin: 0;
    overflow-y: scroll;
}
h1{
    margin: 0 auto 0 auto;
    text-align: center;
}
h4 {
    margin: 10px 0 0 0;
}
.comment {
    margin: 5px 0 2px 5px;
    word-break: break-all;
}

header,
main,
footer {
    width: 1170px;
    box-sizing: border-box;
    margin: 0 auto 0 auto;
}

td {
    border: 1px solid black;
}

header,
footer {
    height: 70px;
    padding: 0 0 0 50px;
    background-color: rgba(16, 22, 54, .3);
}

main {
    min-height: calc(100vh - 140px);
    padding: 50px 0 0 0;
    background-color: #f4f7f9;
}

footer small {
    line-height: 70px;
}

section {
    padding: 40px 50px 40px 100px;
    background-color: #f4f7f9;
}
section ul {
    padding: 0;
}

nav {
    display: inline-block;
    height: 70px;
}
nav > ul{
    padding: 0;
    margin: 0;
    line-height: 70px;
    list-style: none;
}
nav > ul > li {
    float: left;
}
nav > ul > li:nth-of-type(n+2) {
    margin-left: 10px;
}


.page {
    text-align: center;
    margin: 10px 0 0 0;
}

.article {
    width: 400px;
    display: inline-block;
}

article {
    display: inline-block;
    margin: 0 0 20px 0;
    color: black;
}
article:hover {
    opacity: 0.4;
}

article h3 {
    margin: 5px 0 5px 0;
}

input[type="text"] {
    width: 400px;
}

textarea {
    width: 400px;
    height: 300px;
    resize: none;
}

a {
    color: #00f;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.right {
    float: right;
    padding-right: 50px;
    line-height: 70px;
}

.reg input[type="text"] {
    width: 170px;
}

.black {
    color: black;
}

.red {
    color: red;
}

.green {
    color: #2BD4AE;
}

*[placeholder]::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
*[placeholder]::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
*[placeholder]:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
*[placeholder]:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
*[placeholder]:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
*[placeholder]:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
*[placeholder]:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
*[placeholder]:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}